<a href="https://colab.research.google.com/github/dhivya4/Inceptz/blob/main/sbwu_elections_predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, precision_score, confusion_matrix, classification_report

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/balaji2v/Inceptez_Batch19/main/sbwu_elections.csv")

In [3]:
df.shape

(76, 10)

In [8]:
df.head(100)

,Store,Location,State,RTWState,VoteCountDate,VotesYes,VotesNo,VoteTotal,Margin,Result
0,Camp Road Hamburg,"Buffalo, NY",NY,No,12/9/2021,8,12,20,-0.20,No
1,Genessee St,"Buffalo, NY",NY,No,12/9/2021,15,9,24,0.25,Yes
2,Elmwood,"Buffalo, NY",NY,No,12/9/2021,19,8,27,0.41,Yes
3,Power & Baseline Road,"Mesa, AZ",AZ,Yes,2/25/2022,25,3,28,0.79,Yes
4,Sheridan & Bailey,"Buffalo, NY",NY,No,3/9/2022,15,12,27,0.11,Yes
...,...,...,...,...,...,...,...,...,...,...
71,52 Curtiss Pkwy,"Miami Springs, FL",FL,Yes,5/10/2022,10,3,13,0.54,Yes
72,1980 Can Marco Blvd,"Jacksonville, FL",FL,Yes,5/10/2022,8,1,9,0.78,Yes
73,1700 W Nursery Road,"Linthicum, MD",MD,No,5/10/2022,15,2,17,0.76,Yes
74,San Jose Blvd & Ricky Drive,"Jacksonville, FL",FL,Yes,5/10/2022,10,7,17,0.18,Yes
75,E Colfax Ave,"Denver, CO",CO,No,5/10/2022,13,0,13,1.00,Yes

In [5]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Store,76,76,Camp Road Hamburg,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Location,76,47,"Eugene, OR",8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
State,76,18,NY,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RTWState,76,2,No,49,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VoteCountDate,76,29,5/3/2022,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VotesYes,76.0,NaN,NaN,NaN,13.986842,7.399988,4.0,9.75,12.5,17.0,46.0
VotesNo,76.0,NaN,NaN,NaN,4.644737,6.202589,0.0,1.0,2.5,7.0,36.0
VoteTotal,76.0,NaN,NaN,NaN,18.631579,11.282839,5.0,13.0,15.5,21.0,82.0
Margin,76.0,NaN,NaN,NaN,0.561316,0.393695,-0.31,0.225,0.685,0.8825,1.0
Result,76,2,Yes,66,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
newdf = df.drop(['State', 'RTWState'], axis=1)

In [14]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Store          76 non-null     object
 1   Location       76 non-null     object
 2   VoteCountDate  76 non-null     object
 3   VotesYes       76 non-null     int64
 4   VotesNo        76 non-null     int64
 5   VoteTotal      76 non-null     int64
 6   Margin         76 non-null     float64
 7   Result         76 non-null     object
dtypes: float64(1), int64(3), object(4)
memory usage: 4.9+ KB

In [15]:
for var in newdf.columns:
    
    print(newdf[var].value_counts())

Camp Road Hamburg                   1
Cooper Point Village                1
Beth Israel                         1
The Gardens                         1
Wake Forest Rd and Six Forks Rd     1
                                   ..
Forest Hill Ave                     1
Westchester Commons                 1
Huguenot Village Shopping Center    1
Huntsman Square                     1
E Colfax Ave                        1
Name: Store, Length: 76, dtype: int64
Eugene, OR              8
Buffalo, NY             7
Boston, MA              5
Richmond, VA            4
Seattle, WA             3
Ithaca, NY              3
New York, NY            2
Rochester, NY           2
Jacksonville, FL        2
Pittsburgh, PA          2
Mesa, AZ                2
Minneapolis, MN         1
Brooklyn, NY            1
Raleigh, NC             1
Great Neck Plaza, NY    1
Watertown, MA           1
Farmville, VA           1
Tallahassee, FL         1
La Granga, IL           1
Massapequa, NY          1
Plover, WI              1
Phoenix, AZ             1
Avondale, AZ            1
Summit, NJ              1
Estero, FL              1
Miami Springs, FL       1
Linthicum, MD           1
Hamilton, NJ            1
St. Paul, MN            1
Boone, NC               1
Olympia, WA             1
Knoxville, TN           1
Overland Park, KS       1
Springfield, VA         1
Midlothian, VA          1
Hialeah, FL             1
Miami, FL               1
Superior, CO            1
Falls Church, VA        1
Leesburg, VA            1
Baltimore, MD           1
Pennington, NJ          1
Peoria, IL              1
Cary, IL                1
Oak Creek, WI           1
Augusta, GA             1
Denver, CO              1
Name: Location, dtype: int64
5/3/2022     10
4/28/2022     6
5/10/2022     5
4/19/2022     5
5/5/2022      4
4/8/2022      4
4/22/2022     4
5/6/2022      3
5/2/2022      3
4/29/2022     3
12/9/2021     3
4/7/2022      3
3/9/2022      2
4/11/2022     2
4/25/2022     2
4/26/2022     2
4/27/2022     2
4/13/2022     2
3/29/2022     1
3/22/2022     1
5/4/2022      1
3/25/2022     1
4/14/2022     1
4/30/2022     1
4/1/2022      1
4/23/2022     1
2/25/2022     1
4/20/2022     1
4/21/2022     1
Name: VoteCountDate, dtype: int64
10    8
11    7
15    7
8     6
17    6
19    6
13    5
7     5
12    4
14    3
5     3
9     2
6     2
20    1
22    1
46    1
38    1
30    1
24    1
4     1
26    1
33    1
18    1
25    1
16    1
Name: VotesYes, dtype: int64
1     14
0     14
3     12
2     10
8      4
7      4
12     3
9      2
10     2
14     2
5      2
6      2
11     1
36     1
27     1
4      1
21     1
Name: VotesNo, dtype: int64
13    9
11    7
17    6
14    6
15    5
20    5
27    5
9     3
19    3
12    3
21    3
18    2
10    2
32    2
25    2
24    2
7     2
82    1
26    1
65    1
16    1
23    1
31    1
35    1
28    1
5     1
Name: VoteTotal, dtype: int64
 1.00    14
 0.54     4
 0.88     3
 0.89     3
 0.08     2
 0.17     2
 0.76     2
 0.69     2
 0.60     2
 0.71     2
-0.20     2
 0.82     2
 0.41     2
 0.57     2
 0.11     2
 0.85     1
 0.68     1
 0.83     1
 0.81     1
 0.40     1
 0.70     1
 0.45     1
-0.31     1
-0.17     1
-0.09     1
-0.27     1
 0.56     1
 0.78     1
 0.00     1
 0.30     1
 0.87     1
 0.62     1
 0.64     1
 0.92     1
-0.04     1
 0.25     1
-0.08     1
 0.24     1
-0.11     1
 0.90     1
 0.86     1
 0.12     1
 0.07     1
 0.79     1
 0.18     1
Name: Margin, dtype: int64
Yes    66
No     10
Name: Result, dtype: int64

In [16]:
newdf.dtypes

Store             object
Location          object
VoteCountDate     object
VotesYes           int64
VotesNo            int64
VoteTotal          int64
Margin           float64
Result            object
dtype: object

In [17]:
newdf.head()

,Store,Location,VoteCountDate,VotesYes,VotesNo,VoteTotal,Margin,Result
0,Camp Road Hamburg,"Buffalo, NY",12/9/2021,8,12,20,-0.20,No
1,Genessee St,"Buffalo, NY",12/9/2021,15,9,24,0.25,Yes
2,Elmwood,"Buffalo, NY",12/9/2021,19,8,27,0.41,Yes
3,Power & Baseline Road,"Mesa, AZ",2/25/2022,25,3,28,0.79,Yes
4,Sheridan & Bailey,"Buffalo, NY",3/9/2022,15,12,27,0.11,Yes

In [62]:
cols = ['Result']

In [63]:
#label encoding the data
from sklearn.preprocessing import LabelEncoder
df[cols] = df[cols].apply(LabelEncoder().fit_transform)

In [64]:
X = newdf[['VotesYes','VotesNo','VoteTotal','Margin']]
Y = newdf[['Result']]

In [65]:
X_train, X_test,Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

In [66]:
standard_scaler = StandardScaler()

In [67]:
X_train_scaler = standard_scaler.fit(X_train)
X_train_trans_scaler = standard_scaler.fit_transform(X_train)

In [68]:
X_train_scaler

StandardScaler()

In [69]:
X_train_trans_scaler.size

212

In [70]:
X_test_trans_scaler = standard_scaler.transform(X_test)

X_test_trans_scaler.size

92

In [71]:
model= KNeighborsClassifier()

In [72]:
model.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [73]:
Y_pred = model.predict(X_test)
Z_pred = model.predict(X_train)

In [74]:
acc_score = accuracy_score(Y_test, Y_pred)
print(acc_score)

0.8695652173913043

In [76]:
print(confusion_matrix(Y_test, Y_pred))

[[ 1  2]
 [ 1 19]]

In [77]:
print(classification_report(Y_test,Y_pred))

              precision    recall  f1-score   support

          No       0.50      0.33      0.40         3
         Yes       0.90      0.95      0.93        20

    accuracy                           0.87        23
   macro avg       0.70      0.64      0.66        23
weighted avg       0.85      0.87      0.86        23